.table-wrapper{
  width: 100%;
  overflow-x: auto;
}

.table-wrapper table {
  width: max-content;
  min-width: 100%;
  table-layout: fixed;
}

.table-scroll::-webkit-scrollbar {
  height: 10px;
}

.table-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

th {
  font-weight: 600;
  text-transform: capitalize;
  color: #374151;
  background: #f9fafb;
}

td {
  color: #111827;
}

th,
td {
  width: 180px;
  min-width: 180px;
  max-width: 180px;

  padding: 12px;

  overflow: hidden;

  text-overflow: ellipsis;

  white-space: nowrap;
}
